body {
    text-align: center;
    background-color: F4F5F5;
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 16px;
    color: #e1b12c;
    
}
h1 {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;   
}
